@model Tw.Com.Kooco.Admin.Models.InternalDataTransferToView
@using System.Data
@using Newtonsoft.Json
@using Tw.Com.Kooco.Admin.Areas.Ammas.Models.Parameters
@using Tw.Com.Kooco.Admin.Misc

@section PageLevel {
    <link rel="stylesheet" type="text/css" href="/Content/global/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="/Content/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/Content/global/plugins/bootstrap-datepicker/css/datepicker3.css" />
}

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    var announcements = Model.List.Tables[1];
    var count = Convert.ToInt32(Model.List.Tables[0].Rows[0][0]);
    var param = (AnnouncementParameter)Model.Data;
    var queryParam = $"KeyWord={HttpUtility.UrlEncode(param.KeyWord)}&StartDate={param.StartDate}&EndDate={param.EndDate}";
    var js = $"<script type='text/javascript'>var data = {JsonConvert.SerializeObject(new { param.AnnouncementType })};</script>";

}
@section FooterScript{@MvcHtmlString.Create(js)}

<div class="row">
    <div class="col-md-12 col-sm-12 form-inline">
        <div style="float:right;">
            <select class="form-control" id="at">
                <option value="0" @(param.AnnouncementType == 0 ? "selected=selected" : "")>
                    All
                </option>
                <option value="3" @(param.AnnouncementType == 3 ? "selected=selected" : "")>
                    新聞
                </option>
               
            </select>
            @*<input type="text" class="form-control input-sm" style="width: 160px; cursor: pointer;" maxlength="64" placeholder="Start Date" value='@param.StartDate' id='start' /> ~
                <input type="text" class="form-control input-sm" style="width: 160px; cursor: pointer;" maxlength="64" placeholder="End Date" value='@param.EndDate' id='end' />*@
            <div class="input-group input-large date-picker input-daterange" data-date="" data-date-format="yyyy-mm-dd">
                <input type="text" class="form-control" id="start" value="@param.StartDate">
                <span class="input-group-addon">
                    to
                </span>
                <input type="text" class="form-control" id="end" value="@param.EndDate">
            </div>

            <input type="text" class="form-control" style="width: 160px;" maxlength="64" placeholder="Keyword" value="@param.KeyWord" id="kw" />
            <button type="button" class="btn btn-primary" id="search">Search</button>
            <button type="button" class="btn btn-primary" id="reset">Reset</button> |
            <button type="button" class="btn btn-primary" id="add">Add</button>
        </div>
    </div>
</div>

@{
    var j = new Pagination("Page");
    j.Set(param.Page, param.PageSize, count, queryParam);
    @MvcHtmlString.Create(j.Render())
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="table-scrollable">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Serial</th>
                        <th>Sort</th>
                        <th>Type</th>
                        <th>Title</th>
                        <th>Image</th>
                        <th>View</th>
                        <th>Period</th>
                        <th>IsTop</th>
                        <th>Status</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (DataRow row in announcements.Rows)
                        {
                            var annId = Convert.ToInt32(row["AnnouncementId"]);
                            var sort = Convert.ToInt32(row["sort"]);
                            var status = (row["Status"].ToString().Equals("1")) ? "<span style='color:green;font-family: impact;'>Show</span>" : "No Show";
                            var startDate = TimeZoneInfo.ConvertTimeFromUtc(DateTime.Parse(row["StartDate"].ToString()), jIAnSoft.Framework.Configuration.Section.Get.Common.TimeZone);
                            var endDate = TimeZoneInfo.ConvertTimeFromUtc(DateTime.Parse(row["endDate"].ToString()), jIAnSoft.Framework.Configuration.Section.Get.Common.TimeZone);
                            var end = (endDate.Year.Equals(9999)) ? "Forever" : endDate.ToString("yyyy-MM-dd HH:mm");
                            var period = $"{startDate.ToString("yyyy-MM-dd HH:mm")} ~ {end}";
                            if (UtilityHelper.UtcToTimeZone(DateTime.UtcNow) > endDate || UtilityHelper.UtcToTimeZone(DateTime.UtcNow) < startDate)
                            {
                                period = $"<span style='color:red;'>{period}</span>";
                            }
                            var isTop = (row["IsTop"].ToString().ToLower().Equals("true")) ? "<span style='color:blue;font-family: impact;'>Yes</span>" : "No";

                            string type;
                            switch (Convert.ToInt32(row["Type"]))
                            {
                                default:
                                    type = row["Type"].ToString();
                                    break;
                               
                                case 3:
                                    type = "新聞";
                                    break;
                            }

                            <tr id="row_@annId">
                                <td>@row["Serial"]</td>
                                <td>@sort</td>
                                <td>@type</td>
                                <td id="title_@annId">@row["Title"]</td>
                                <td id="image_@annId">
                                    @if (row["ImgPath"].ToString().Length > 0) {
                                        <a class="btn" rel="popover" data-img="@row["ImgPath"]" data-original-title>
                                            <img src="@row["ImgPath"]" height="40" alt=""/>
                                        </a>
                                    }
                                </td>
                                <td>@row["ViewCount"]</td>
                                <td>@MvcHtmlString.Create(period)</td>
                                <td>@MvcHtmlString.Create(isTop)</td>
                                <td>@MvcHtmlString.Create(status)</td>
                                <td>
                                    <button type="button" class="btn btn-xs btn-primary ListBtn" id="edit_@annId">Edit</button>
                                    <button type="button" class="btn btn-xs btn-primary ListBtn" id="delete_@annId">Delete</button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@{
    @MvcHtmlString.Create(j.Render())
}